<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>



    <servlet>
        <description>InsertarAlumno</description>
        <display-name>InsertarAlumno</display-name>
        <servlet-name>AlumnoInsertar</servlet-name>
        <servlet-class>org.edsmsoft.AlumnoInsertar</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>AlumnoInsertar</servlet-name>
        <url-pattern>/InsertarAlumno</url-pattern>
    </servlet-mapping>

    <servlet>
        <description>InsertarMaestro</description>
        <display-name>InsertarMaestro</display-name>
        <servlet-name>InsertarCatedratico</servlet-name>
        <servlet-class>org.edsmsoft.InsertarCatedratico</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>InsertarCatedratico</servlet-name>
        <url-pattern>/InsertarMaestro</url-pattern>
    </servlet-mapping>

    <servlet>
        <description>TraerMaestro</description>
        <display-name>TraerMaestro</display-name>
        <servlet-name>CatedraticoTraer</servlet-name>
        <servlet-class>org.edsmsoft.CatedraticoTraer</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CatedraticoTraer</servlet-name>
        <url-pattern>/TraerMaestro</url-pattern>
    </servlet-mapping>




    <servlet>
        <description>TraerAlumno</description>
        <display-name>TraerAlumno</display-name>
        <servlet-name>AlumnoTraer</servlet-name>
        <servlet-class>org.edsmsoft.AlumnoTraer</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>AlumnoTraer</servlet-name>
        <url-pattern>/TraerAlumno</url-pattern>
    </servlet-mapping>

    <servlet>
        <description>TraerGen</description>
        <display-name>TraerGen</display-name>
        <servlet-name>TraerGN</servlet-name>
        <servlet-class>org.edsmsoft.TraerGN</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TraerGN</servlet-name>
        <url-pattern>/TraerGen</url-pattern>
    </servlet-mapping>


    <servlet>
        <description>Configurar</description>
        <display-name>Configurar</display-name>
        <servlet-name>Configurar</servlet-name>
        <servlet-class>org.edsmsoft.Configurar</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Configurar</servlet-name>
        <url-pattern>/Configurar</url-pattern>
    </servlet-mapping>




    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:postgresql://localhost:5432/edsmsoft</param-value>
    </context-param>
    <context-param>
        <param-name>usuario</param-name>
        <param-value>postgres</param-value>
    </context-param>
    <context-param>
        <param-name>clave</param-name>
        <param-value>root</param-value>
    </context-param>
</web-app>